#ifndef %(nameup)sVEC_H
#define %(nameup)sVEC_H

#include <memory.h>
#include <stdint.h>
#include <stdlib.h>

#define newp(type)    ((type*)malloc(sizeof(type)))
#define newn(type, n) ((type*)malloc(sizeof(type) * (n)))

#define MAX(a, b) ((a) >= (b) ? (a) : (b))

#define THE_DEFAULT 0
#define %(nameup)sVEC_MAXSIZE (SIZE_MAX - 100)

typedef struct %(name)svec {
  %(type)s* buf;
  size_t len;
  size_t cap;
} %(name)svec;

%(name)svec* %(name)svec_new(size_t cap) {
  %(name)svec* v = newp(%(name)svec);
  if (!v) {
    return NULL;
  }
  v->cap = cap;
  v->len = 0;
  v->buf = newn(%(type)s, cap);
  if (!v->buf) {
    free(v);
    return NULL;
  }
  return v;
}

%(name)svec* %(name)svec_free(%(name)svec* v) {
  free(v->buf);
  free(v);
}

int i_%(name)svec_resize(%(name)svec* v, size_t tgtlen) {
  if (tgtlen * 4 < v->cap * 3) {  // if tgtlen < 3/4 cap
    return 0;
  }
  // else set cap = 2 * max(tgtlen, cap)
  size_t tgtcap = MAX(tgtlen, v->cap) << 1;
  if (tgtcap < v->cap) {  // if overflow
    if (v->cap == %(nameup)sVEC_MAXSIZE) {
      return 0;
    }
    tgtcap = %(nameup)sVEC_MAXSIZE;
  }
  %(type)s* tmpbuf = (%(type)s*)realloc(v->buf, tgtcap * sizeof(%(type)s));
  if (!tmpbuf) {
    return 1;
  }
  v->buf = tmpbuf;
  v->cap = tgtcap;
  return 0;
}

static inline int i_%(name)svec_checkbound(%(name)svec* v, size_t len) {
  return len >= v->cap;
}

// return 1 if fail to allocate new space for vector, 2 if no space available,
// otherwise 0
int %(name)svec_append(%(name)svec* v, %(type)s c) {
  if (i_%(name)svec_resize(v, v->len + 1)) {  // if err
    return 1;
  }
  if (i_%(name)svec_checkbound(v, v->len + 1)) {
    return 2;
  }
  v->buf[v->len++] = c;
  return 0;
}

// return 1 if fail to allocate new space for vector, 2 if no space available,
// otherwise 0
int %(name)svec_appendn(%(name)svec* v, %(type)s* p, size_t n) {
  if (i_%(name)svec_resize(v, v->len + n)) {
    return 1;
  }
  size_t newlen = v->len + n;
  if (i_%(name)svec_checkbound(v, newlen)) {
    return 2;
  }
  memcpy(v->buf + v->len, p, n * sizeof(%(type)s));
  v->len = newlen;
  return 0;
}

// returns default value (0) if out of bound.
inline static %(type)s %(name)svec_get(%(name)svec* v, size_t idx) {
  if (idx > v->len) {
    return THE_DEFAULT;
  }
  return v->buf[idx];
}

inline static void %(name)svec_clear(%(name)svec* v) { v->len = 0; }

inline static size_t %(name)svec_len(%(name)svec* v) { return v->len; }

// returns a newly malloced array copy of the vector.
inline static %(type)s* %(name)svec_asarr(%(name)svec* v) {
  %(type)s* buf = newn(%(type)s, v->len);
  if (!buf) {
    return NULL;
  }
  memcpy(buf, v->buf, v->len * sizeof(%(type)s));
  return buf;
}

// returns the ref of the buffer and frees the object
inline static %(type)s* %(name)svec_takeownership(%(name)svec* v, size_t* o_len) {
  %(type)s* buf = v->buf;
  if (o_len) *o_len = v->len;
  free(v);
  return buf;
}

#endif  // %(nameup)sVEC_H
